
.action{
    display: flex;
    justify-content: space-between;
}
.edit, .delete{
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}
.edit{
    color: green;
}
.delete{
    color: red;
}
.edit:hover{
    background-color: green;
    color: white;
}
.delete:hover{
    color: white;
    background-color: red;
}